<body class="bg">
  <div class="flex-container">
          <input id="slide-sidebar" type="checkbox" role="button" />
              <label for="slide-sidebar"><span>close</span></label>
          <!-- <nav id="sidebar" class="{{active ? 'bg active' : 'bg'}}"> -->
          <!-- <nav class="sidebar"> -->
          <nav class="sidebar">
            <span class="header">
              <logo></logo>
            </span>

            <span class="search">
              <input  class="search-input" type="text" src="/assets/images/search_icon.png" placeholder="search here">
              <button class="search-button">Search</button>
            </span>
              <!-- Sidebar Links -->
            <!-- <u class="list-unstyled components"> -->
            <span class="div-button">
              <!-- <label class="tests">TESTS</label> -->
              <button class="audiogram-button">Audiogram</button>
              <button class="otoscopy-button">Otoscopy</button>
              <button class="tymps-button">Tympanometry</button>
              <!-- <label class="summary">SUMMARY</label> -->
              <button class="summary-button">Summary</button>
            </span>
            <span class="footer"></span>
          </nav>

          <!-- <div class="{{active ? 'handle active' : 'handle'}}"> -->
          <div class="content">
              <!-- <button class="collapse-button" (click)="onClick()" type="button"> -->
              <!-- </button> -->
          </div>
  </div>
</body>















<!--
<body  class="bg">
    <logo></logo>
    <input type="text" src="/assets/images/search_icon.png" placeholder="search here">
    <button class="search-button">Search</button>
    <label class="tests">TESTS</label>
    <div class="sidenav">
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Clients</a>
        <a href="#">Contact</a>
      </div>
    <button class="audiogram-button">Audiogram</button>
    <button class="otoscopy-button">Otoscopy</button>
    <button class="tymps-button">TYMPS</button>
    <label class="summary">SUMMARY</label>
    <button class="summary-button">Summary</button>
</body>
-->
