<div class="audio">
  <div class="container">
      <div class="{{active ? 'left-container' : 'left-container-hide'}}">
        <div class="row">
          <logo logoRouteOption="1"></logo>
        </div>

        <div class="search-container">
              <input type="text" placeholder="Search...">
              <button type="submit"><i class="fa fa-search"></i></button>
        </div>

        <div class="row"><label class="sec-label">TESTS SECTION</label></div>
        <div class="row"><button class="main-btn">Audiogram</button></div>
        <div class="row"><button class="main-btn">Otoscopy</button></div>
        <div class="row"><button class="main-btn">Tympanometry</button></div>
        <div class="row"><label class="sec-label">SUMMARY SECTION</label></div>
        <div class="row"><button class="main-btn">Summary</button></div>

      </div>
      <div class="{{active ? 'right-container' : 'right-container-full'}}">
          <!-- <button type="button" class="toggle-btn" (click)= "onToggle()"></button> -->
          <button type="button"><i class="glyphicon glyphicon-th-list" (click)="onToggle()"></i></button>
          <div class="main-right-container">
            <app-audiogram></app-audiogram>
          </div>

      </div>
  </div>
</div>
