.audiogram .head {
  background-color: lightgray;
  padding-top: 3%;
  padding-bottom: 3%;
  font: bold 50px Veranda, sans-serif;
  color: black;
}

.audiogram .subhead {
  padding-top: 2%;
  font: bold 22px Veranda, sans-serif;
  padding-left: 5%;
  color: black;
}

.audiogram .radio {
  padding-left: 10%;
  line-height: 1.8em;
  display: inline-flex;
  flex-direction: column;
  color: black;
}

.audiogram .card-radio {
  padding-left: 10%;
  line-height: 1.5em;
  display: inline-flex;
  flex-direction: column;
  color: black;
}

.audiogram .toolbar {
  padding-left: 5%;
}

.audiogram .checkboxwrap {
  display: inline;
  width: 300px;
}

.audiogram .checkbox {
  display: block;
  line-height: .5em;
  width: 150px;
}

.audiogram .side {
  background-color: lightblue;
}
