.audiogram .head {
  background-color: lightgray;
  padding-top: 3%;
  padding-bottom: 3%;
  font: bold 50px Veranda, sans-serif;
  color: black;
}

.audiogram .subhead {
  padding-top: 2%;
  font: bold 22px Veranda, sans-serif;
  padding-left: 5%;
  color: black;
}

.audiogram .radio {
  padding-left: 10%;
  padding-bottom: 2%;
  display: inline-flex;
  flex-direction: column;
}

.audiogram .stuff .radio {
  padding-left: 5%;
  line-height: 1.8em;
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form-group .wrap {
  min-width: 10em;
}

.leftear .no-gutter {
  margin-left: 0;
  margin-right: 0;
}
