
/* LogoComponent's private CSS styles */
img.logo {
  padding-top: 25px;
}


@media all and (max-height: 400px) {
  .logo {
    margin-top: 2%;
    width: 60%;
    margin-left: 0%;
  }
}

@media all and (max-height: 600px) and (min-height: 410px) {
  .logo {
    margin-top: 2%;
    width: 60%;
    margin-left: 0%;
  }
}

img.logo:hover
{
  opacity: 0.5;
  cursor: pointer;
  border: none;
}
