<div class="row">
  <div class="col-sm-4 col-sm-offset-4 questionFont sectionWrap" >{{section}}</div>
</div>
<br>
<div class="row">
  <div class="col-sm-4 col-sm-offset-4 questionFont sectionWrap">{{question}}</div>
</div>
<br>
<div class="col-sm-4 col-sm-offset-4 questionFont" style="padding-left:0%">
  <div class="form-check">
    <label class="form-check-label">
      <mat-slider min="0" max="10" step="1" value="5" thumbLabel="true" tickInterval="1" [(ngModel)]="selectedValue"></mat-slider>
    </label>
  </div>
</div>
<br>
<div class="row" style="margin-top: 100px">
  <div class="col-sm-4 col-sm-offset-4 questionFont sectionWrap">
    <button style="width: 100px;" class="btn btn-primary" (click)="onClickedBack.emit(selectedValue)">BACK</button>
    <button style="width: 100px;" class="btn btn-primary" (click)="onClickedNext.emit(selectedValue)">NEXT</button>
  </div>
</div>
