/*styles for home content only*/

.flex-container {
  /*vertical-align: middle;*/
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* The logo section of the page */
.header {
  text-align: left;
  flex: 1.2;
  order: 1;
}

/* The bottom section of the page, no actual content are inside.
  It is used for horizontal alignment */
.footer {
  flex: 1.2;
  order: 3;
}

/* The two buttons are inside of this section */
.div-buttons {
  flex: 0.6;
  order: 2;
  display: flex;
  flex-direction: column;
  margin: 0% 20% 0 20%;
  justify-content: center;


}

:host /deep/ .logo {
  margin-top: 2%;
  width: 50%;
}


button {
  height: 60%;
  background-color: #004273;
  font-size: 2em;
  font-family: 'Roboto';
  color: white;
  border: 2px solid #93b9dd;
  border-radius: 8px;
}

@media all and (orientation:landscape) {
  :host /deep/ .logo {
    width: 35%;
    transition: linear;
  }
  button {
    height: 85%;
  }
}
@media all and (max-width:610px) {
  button {
    font-size: 0.9em;
    height: 80%;
  }
}

@media all and (orientation:landscape) and (max-width: 650px ){
  button {
    font-size: 0.95em;
  }
}

@media all and (max-height: 700px) and (min-height: 410px) {
  :host /deep/ .logo {
    width: 50%;
    transition: linear;
  }
  button {
    font-size: 0.95em;
  }
}

@media all and (min-height: 1350px) and (min-width: 1024px) {
  button {
    font-size: 3em;
  }
}
@media all and (max-height: 400px) {
  button {
    font-size: 0.7em;
    height: 80%;
  }
}


button:hover {
  background-color: #005690;
  cursor: pointer;
}


