
<div class="container">
<div class="parent-container">
    <div class="row">
      <div class="col-sm-4 col-md-6">
          <logo></logo>
      </div>
    </div>
</div>
  <div class="child-container">
    <div class="row">
      <div class="col-sm-6 col-md-6 offet-sm-4 offset-md-3">
          <button (click)="patientOnClick()" type="button" style="width:100%;">Patient Check In</button>
      </div>
   </div>
    <div class="row">
      <div class="col-md-6 offset-md-3">
          <button (click)="patientOnClick()" type="button" style="width:100%;">Audiologist Log In</button>
      </div>
    </div>
  </div>

</div>
<!-- <div class="flex-container">
  <div class="header">
        <logo></logo>
  </div>

  <div class="div-buttons">
    <button (click)="patientOnClick()" type="button">Patient Check In</button>
  </div>
  <div class="div-buttons">
      <button (click)="patientOnClick()" type="button">Audiologist Log In</button>
    </div>
  <div class="footer">

  </div>
</div> -->
